.button {
  width: 100%;
  border: none;
  padding: 18px; 
  border-radius: 8px;
  color: #ffffff;
  font-size: 16px;
  background: rgb(106, 44, 158);
  cursor: pointer;
  &:hover {
    background: rgb(110, 55, 158);
  }
}
.buttonDisabled {
  background: rgb(216, 203, 213);
  cursor: auto;
  outline: none; 
  &:hover {
    background: rgb(216, 203, 213);
  }
}