.questionField {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 24px;
}
.questionFieldButton {
  margin: 0 auto;
  width: 300px;
}
.tryAgainButtonWrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 24px;
}