.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: linear-gradient(to top right, rgb(9, 24, 184), rgb(25, 27, 180), rgb(41, 31, 175), rgb(57, 34, 171), rgb(73, 37, 167), rgb(89, 40, 162), rgb(106, 44, 158), rgb(122, 47, 153), rgb(138, 50, 149), rgb(154, 53, 145), rgb(170, 57, 140), rgb(186, 60, 136));
}